form.loginBox {
    background: wheat;
    width: 50vh;
    height: 35vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginInput {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#emailInput,#passInput {
    width: 30vh;
    height: 5vh;
    border-radius: 5vh;
    border: none;
    text-align: center;
}
.radioInput {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30vh;
    margin-top: 10px;
}
#submitInput {
    margin-top: 4vh;
    width: 15vh;
    height: 5vh;
    border-radius: 15px;
    border: none;
}